In [1]:
for x in range(0,10,2):   
     print(x)

0
2
4
6
8

In [4]:
li=['a','b','c','d']
for c,e in enumerate(li):
             print(c,e)

0 a
1 b
2 c
3 d

In [5]:
name="Greek" 
for i in name:
     print(i)

G
r
e
e
k

In [6]:
for i in range(1,4):
       for j in range(4,9):
         print(i,j)

1 4
1 5
1 6
1 7
1 8
2 4
2 5
2 6
2 7
2 8
3 4
3 5
3 6
3 7
3 8

In [7]:
# skipping specific value
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [13]:
# breAK FUNCTION range
for i in range(1,11):
    if i==3:
        break
    print(i)

1
2

In [18]:
for i in range(1,11):
    if i==7:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
count = 0
while (count < 5):
    count += 1
    print(count)
    print("hhhhh")

1
hhhhh
2
hhhhh
3
hhhhh
4
hhhhh
5
hhhhh

In [22]:
i =0
a="irtiza hassan"
while i <len(a):
    if a[i]=='i' or a[i]=='h':
        i+=1
        continue
    print( 'current letter ',a[i])
    i +=1

current letter  r
current letter  t
current letter  z
current letter  a
current letter

In [12]:
n1:int=0
while n1<=10:
    n1+=1
    print(n1)

1
2
3
4
5
6
7
8
9
10
11

In [15]:
n=1
while n<=10:
    n+=2
    print(n)

3
5
7
9
11

In [21]:
n=0
while n<20:
    n+=2
    print(n)

2
4
6
8
10
12
14
16
18
20

In [29]:
n=1
table=2
while n<=10:
    print(f'{table} * {n} = {table*n}')
    n+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20