LAMBDA (lambda)

In [40]:
# add=lambda a=2, b=4 : a+b
# add(a=6,b=5)

# def sum(a,b,c,d)-> int:
#     return a+b+c+d
# sum(1,2,4,7)
# def add1(*a)->int:
#     total =0
#     for n in a:
#         total=total+n
#     return total
    
# add1(3,95,6,8.9,89,8,2013)

# SINGLE *
# def hello(*a):
#     return a
# hello('hello','ali','irtiza','kachra:uz')
# DOUBLR STEARIC**
def hello(**a):
    return a
hello(name='ali',age=25,city='lahore')

{'name': 'ali', 'age': 25, 'city': 'lahore'}

In [48]:
def hope(**record):
    return record
hope(name='irtiza',class1=10,age=15)

{'name': 'irtiza', 'class1': 10, 'age': 15}